<div class="container">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
    </div>

    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
    </div>

    <div class="field">
      <%= f.label :gender_id %><br />
      <%= f.text_field :gender_id, autofocus: true, autocomplete: "gender" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <!-- <div class="field">
      <%= f.label :city_id %><br />
      <%= collection_select( :user, :city_id, City.all, :id, :name, :prompt => "Seleccionar") %>
    </div> -->

    <div class="field">
      <!-- Country -->
      <%= label_tag :country %>
      <%= select_tag :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
    </div>

    <div class="field">
      <!-- State -->
      <%= label_tag :state %>
      <%= select_tag :state, options_for_select([]) %>
    </div>

    <div class="field">
      <!-- City -->
      <%= f.label :city_id %>
      <%= f.select :city_id, options_for_select([]) %>
    </div>




    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
