<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent col-md-6">

        <%= form_with(model: project, local: true) do |form| %>
        <% if project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %>
              prohibited this project from being saved:</h2>

            <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p>¡Hola
          <%= current_user.firstname %>! Gracias por dejarnos ayudarte. Iniciarás un nuevo proyecto.</p>

        <div class="field form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control"%>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label :office %>
          <%= form.text_field :office, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label :project_traffic_id %>
          <%= collection_select(:project, :project_traffic_id, ProjectTraffic.all, :id, :category, {prompt: true}, {class: "form-control"}) %>
        </div>

        <div class="field">
          <%= form.label :project_type_id %>
          <%= collection_select(:project, :project_type_id, ProjectType.all, :id, :category, {prompt: true}, {class: "form-control"}) %>
        </div>

        <div class="field">
          <%= form.label :country %><br/>
          <%= collection_select(:state, :country_id, Country.all, :id, :name, {prompt: true}, {class: "form-control"}) %>
        </div>

        <div class="field">
          <%= form.label :state %><br/>
          <%= form.grouped_collection_select :city_id, Country.order(:name), :states, :name, :id, :name, {prompt: true}, {class: "form-control"} %>
        </div>

        <div class="field">
          <%= form.label :city_id %><br/>
          <%= form.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, {prompt: true}, {class: "form-control"} %>
        </div>
        <% if can? :update, Project %>
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
</section>
