<body>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Projects</h1>

    <table id="myTable" class="table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Oficina</th>
          <th>Tipo de Proyecto</th>
          <th>Trafico de Proyecto</th>
          <th>Ciudad</th>
          <th>Status</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.user.firstname + " " + project.user.lastname%></td>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.office %></td>
            <td><%= project.project_type.category %></td>
            <td><%= project.project_traffic.category %></td>
            <td><%= project.city.name %></td>
              <% if project.status_open = true %>
                  <td><%= link_to 'Abierto', status_closed_project_path(project), class: 'btn btn-info', method: :post, data: { confirm: "¿Seguro quiere cerrar el proyecto #{project.name}?" } %></td>
                <% else %>
                  <td><%= link_to 'Cerrado', status_opened_project_path(project), class: 'btn btn-danger', method: :post, data: { confirm: "¿Seguro quiere reabrir el proyecto #{project.name}?" } %></td>
                <% end %>
            <td><%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: '¿Seguro quiere eliminar el proyecto?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Project', new_project_path %>

  </div>

<div id='calendar' class="container" data-token="<%= form_authenticity_token %>"></div>
<%= render 'modal' %>

</body>
