<body >
  <div class="container">
    <div class="jumbotron">
      <div class="col-md-4">
              <p id="notice"><%= notice %></p>
              <p>
                <strong>User:</strong>
                <%= @project.user.firstname + " " + @project.user.lastname %>
              </p>
              <p>
                <strong>Name:</strong>
                <%= @project.name %>
              </p>
              <p>
                <strong>Description:</strong>
                <%= @project.description %>
              </p>
              <p>
                <strong>Office:</strong>
                <%= @project.office %>
              </p>
              <p>
                <strong>Project type:</strong>
                <%= @project.project_type.category %>
              </p>
              <p>
                <strong>Project traffic:</strong>
                <%= @project.project_traffic.category %>
              </p>
              <p>
                <strong>City:</strong>
                <%= @project.city.name %>
              </p>
              <% if can? :edit, Project %>
                <%= link_to 'Editar informacion', edit_project_path(@project), class: "btn btn-secondary"%> |
              <% end %>
              <%= link_to 'Volver', projects_path, class: "btn btn-secondary" %>
      </div>
      <% if can? :create, Specification %>
        <div class="col-md-4">
            <h3><%= link_to 'Especificar', project_products_path(@project), class: "btn btn-info" %></h3>
        </div>
      <% end %>

    </div>
  </div>

  <div class="container">
    <% @project.specifications.each do |specification| %>
      <tr>
        <td>
          <h3><%= specification.product.title %></h3>
          <p><%= specification.product.description %></p>
          <h6>Referencia:<%= specification.product.brand.name %></h6>
        </td>
        <td><%= link_to 'Show', project_product_path(specification.product.brand_id, specification.product) %>
          <% if can? :destroy, Specification %>
            <%= link_to 'Eliminar', project_product_specification_path(@project.id, specification.product.id, :id => specification.id), method: :delete, data: { confirm: '¿Seguro quiere eliminar la especificación?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </div>

</body>
