<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Office:</strong>
  <%= @project.office %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.project_type %>
</p>

<p>
  <strong>Project traffic:</strong>
  <%= @project.project_traffic %>
</p>

<p>
  <strong>City:</strong>
  <%= @project.city %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
