<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>



<p>
  <strong>Nombre:</strong>
  <%= @user.firstname %>
</p>
<p>
  <strong>Apellido:</strong>
  <%= @user.lastname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Genero:</strong>
  <%= @user.gender.name %>
</p>
<p>
  <strong>Empresa:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @user.city.name %>
</p>
