<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, accept: 'image/jpeg, image/jpg, image/gif, image/png' %>
  </div>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :eett %>
    <%= form.text_area :eett %>
  </div>

  <div class="field">
    <%= form.label :product_type_id %>
    <%= collection_select(:product, :product_type_id, ProductType.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :project_traffic_id %>
    <%= collection_select(:product, :project_traffic_id, ProjectTraffic.all, :id, :category, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :project_type_id %>
    <%= collection_select(:product, :project_type_id, ProjectType.all, :id, :category, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= collection_select(:product, :brand_id, Brand.all, :id, :name, prompt: true) %>
  </div>

  <% if can? :update, Product %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
