<section id="page-title" class="paddingbottom">
  <div class="container clearfix center">
    <h1>Productos</h1>
    <span>¿Que necesitas para tu proyecto?</span>
    <span class="color">Comienza a especificar</span>
  </div>
</section>

<% if params[:project_id].nil? %>
<% else %>
  <div class="clearfix container center">
    <a class="button bg-dark text-white button-dark button-large noleftmargin" href="<%= project_path(params[:project_id]) %>" role="button">Volver a Proyecto</a>
  </div>
<% end %>

<!-- Shop ============================================= -->

<div class="content-wrap">
  <div class="container clearfix">
    <div id="shop" class="shop grid-container clearfix " data-layout="fitRows">
      <% @products.each do |product| %>

          <div class="product clearfix ">
            <% if product.images.attached? %>
              <div class="product-image"> <%= image_tag product.images.first.variant(resize: "200x200") %><div class="product-overlay">
                  <a href="<%= brand_product_path(product.brand_id, :id => product.id)%>" class="item-quick-view" data-lightbox="ajax">
                    <i class="icon-zoom-in2"></i><span>Mostrar</span></a>
                  <% if params[:project_id].nil? %>
                    <a href="<%= projects_path %>" class="add-to-cart">
                      <i class="icon-shopping-cart"></i><span>Especificar</span></a>
                  <% else %>
                    <a href="<%= projects_path %>" class="add-to-cart">
                      <i class="icon-shopping-cart"></i><span>Especificar</span></a>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="product-image producthigh">
                <%= image_tag("seeds.png", size: "200x200") %>
                <div class="product-overlay">
                  <a href="<%= brand_product_path(product.brand_id, :id => product.id)%>" class="item-quick-view" data-lightbox="ajax">
                    <i class="icon-zoom-in2"></i><span>Mostrar</span></a>
                  <% if params[:project_id].nil? %>
                    <a href="<%= projects_path %>" class="add-to-cart">
                      <i class="icon-shopping-cart"></i><span>Especificar</span></a>
                  <% else %>
                    <a href="<%= project_product_specifications_path(params[:project_id], product) %>" class="add-to-cart">
                      <i class="icon-shopping-cart"></i><span>Especificar</span></a>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="product-desc producthigh">
              <div class="product-title"><h3><%= product.title %></h3></div>
              <div class="product-title"><p><%= product.description %></p></div>
            </div>
            <div class="d-flex justify-content-around alignbottom producthigh">
              <div class="product-title"><span><%= product.brand.name %></span></div>
              <div class="product-title color"><span><%= product.project_traffic.category %></span></div>
              <div class="product-title purple"><span><%= product.project_type.category %></span></div>
            </div>

          </div>

      <% end %>
    </div>
  </div>
