<body>
  <div class="container">

    <p id="notice"><%= notice %></p>

    <h1>Products</h1>
    <h1 class="center">Titulo</h1>
    <table id="myTable" class="table">
      <thead>
        <tr>
          <th>Imagen</</th>
          <th>descripcion</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <% if product.images.attached? %>
              <td>
                <%= image_tag product.images.first.variant(resize: "200x200") %></td>
            <% else %>
              <td>
                <%= image_tag("seeds.png", size: "200x200") %></td>
            <% end %>
            <td>
              <h3><%= product.title %></h3>
              <p><%= product.description %></p>
              <h6><%= product.project_traffic.category %></h6>
              <h6><%= product.project_type.category %></h6>
              <h6>Marca:<%= product.brand.name %></h6>
            </td>
            <td>
              <%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% if @project.present? %>
                  <%= link_to 'Especificar', project_product_specifications_path(params[:project_id], product), class: 'btn btn-success', method: :post %>
                <% else %>
                  <%= link_to 'Especificar', projects_path, class: 'btn btn-success', method: :post %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Product', new_product_path %>
  </div>
</body>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
  });
</script>
