<!-- Header ============================================= -->
<header id="header" class="transparent-header sticky-transparent static-sticky position-fixed position-fixed col-md-12">
  <div id="header-wrap" class=" ">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo ============================================= -->
      <!-- #logo end -->
      <!-- Primary Navigation ============================================= -->
      <nav id="primary-menu" class="">
        <div class="container">

          <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
            <li class="current">
              <a href="<%= root_path %>">
                <i class="fas fa-home"></i>
                <div>Portada</div>
              </a>
            </li>
            <li>
              <a href="<%= projects_path %>">
                <i class="fas fa-file-signature"></i>
                <div>Especificar</div>
              </a>
            </li>
            <li>
              <a href="<%= products_path %>">
                <i class="fas fa-puzzle-piece"></i>
                <div>Productos</div>
              </a>
            </li>
            <li>
              <a href="<%= brands_path %>">
                <i class="fas fa-globe"></i>
                <div>Proveedores</div>
              </a>
            </li>
            <li>
              <a href="<%= brand_plans_path %>">
                <i class="fas fa-hands-helping"></i>
                <div>Planes</div>
              </a>
            </li>
            <li>
              <a href="#" data-href="#footer">
                <i class="fas fa-envelope"></i>
                <div>Contact</div>
              </a>
            </li>
            <% if user_signed_in? %>
              <li>
                <a href="<%= user_show_path %>">
                  <i class="fas fa-user-check"></i>
                  <div><%= current_user.email %></div>
                </a>
              </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <div>Salir</div>

                  <% end %>
                </li>
              <% else %>
                <li>
                  <a href="<%= new_user_session_path %>">
                    <i class="fas fa-user"></i>
                    <div>Ingresar</div>
                  </a>
                </li>
                <li>
                  <a href="<%= new_user_registration_path %>">
                    <i class="fas fa-sign-in-alt"></i>
                    <div>Registrarse</div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

        </nav>
        <!-- #primary-menu end -->
      </div>
    </div>
</header><!-- #header end -->
